<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="foobar4423.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <foobar4423.Properties.Settings>
            <setting name="FoobarFilePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="AT" serializeAs="String">
                <value/>
            </setting>
            <setting name="ATS" serializeAs="String">
                <value/>
            </setting>
            <setting name="ScreenName" serializeAs="String">
                <value/>
            </setting>
            <setting name="NowPlayingFormat" serializeAs="String">
                <value>$SONG$&lt; - $ARTIST$&gt;&lt; via $ALBUM$&gt;&lt; - $ALBUM_ARTIST$&gt;&lt; / Track.$TRACK_NUMBER$&gt; &lt; - CD$DISC_NUMBER$&gt; #nowplaying</value>
            </setting>
            <setting name="IsBalloon" serializeAs="String">
                <value>False</value>
            </setting>
        </foobar4423.Properties.Settings>
    </userSettings>
</configuration>
